@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  width: 100%;
}
form {
  margin-right: 18%;
  margin-left: 18%;
  img{
    position: absolute;
    top: calc(50% - 7.5px);
    right: 30px;
    width: 15px;
    height: 15px;
    display: none;

  }
}

.row {
  padding-bottom: 12px;
  padding-top: 12px;
}


.btn-success{
  font-size: 13px;
  font-weight: bold;
  letter-spacing: -0.7px;
  height: 50px;

}
.btn-success:hover{
  font-size: 13px;
  font-weight: bold;
  height: 50px;
  background-color: #00c352;
  border: 1px solid #00c352;
}

.form-control-lg{
  font-size: 13px;
  font-weight: lighter;
  color: #717171
}


input{
  position: relative;
  padding-right: 18% !important;
  padding-left: 25px !important;
}


.form-header{
  font-size: 22px;
  font-weight: bold;
  margin-right: 18%;
  margin-left: 18%;
  letter-spacing: -0.7px;
  padding-bottom: 5px;
}

.main-header{
  font-size: 33px;
  font-weight: bold;
  margin-right: 18%;
  margin-left: 18%;
  padding-bottom: 25px;
  padding-top: 33px;
  letter-spacing: -0.7px;
  span{
    font-weight: 200;
  }
}
.slider-header{
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.7px;
  padding-top: 40px;
  padding-bottom: -20px;
  .row{
    padding-bottom: 0px !important;
  }
}
.slider-nav{
  margin: 0px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  img{
    display: block;
    width: 15px;
    height: 15px;
  }
  div{
    float: left;
    width: 15px;
    height: 15px;
    padding-right: 10px;
    display: flex;
    align-items: center;
  }
  .active{
    width: 30px;
    img{
      width: 30px;
    }
  }
  img:hover{
    cursor: pointer;
  }
}
.main-slider-container{
  margin-right: 18%;
  margin-left: 18%;

  margin-top: 0px !important;
  .slider img{
    width: 100%;
  }
  .container-fluid:last-of-type{
    .row:first-of-type{
      padding-top: 0px !important;
    }
  }
}
.slider .col-md-4{
  padding-right: 0px !important;
  padding-left: 0px !important;
}
h1{
  font-size: 12px;
  font-weight: bold;
  padding-left:15px ;
  padding-top: 5px;
}
p{
  font-size: 12px;
  padding-left:15px ;
  padding-top: 0px;
}

@media (max-width: 767px) {
  form {
    div[class*="col-"]{
      padding-top: 15px;
    }
    .row:first-of-type{
      div[class*="col-"]:first-of-type{
        padding-top: 0px;
      }

    }
    .row:nth-of-type(2){
      div[class*="col-"]:first-of-type{
        padding-top: 0px;
      }

    }
    .row:nth-of-type(3){
      div[class*="col-"]:first-of-type{
        padding-top: 0px;
      }

    }

  }
  .form-control{
    font-size: 13px;
    font-weight: lighter;
    color: #717171
  }
}

.button-small{
  height: 36px;
  font-weight: 700;
  margin-top: -8px;
}
